.nao-mostrar{
  display: none;
}
.card-columns{
  margin-top: 1em;
}
.card{
  cursor: pointer;
}
.card:hover{
  background-color: rgb(250, 250, 176);
}
.card-subtitle{
  font-size: 0.8em;
}
.modal-footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
#btn-deletar:hover svg path,
#btn-deletar:hover{
  fill:#FFF;
  color:#FFF;
}


#btn-buscar::after{
  content: ' Pesquisar';
}
#btn-adicionar::after{
  content: ' Nova Tarefa';
}
#texto-busca{
  display: inline-block;
  width: auto;
  vertical-align: middle;
  height: calc(2.25rem + 2px);
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 0 !important;
}

.form-check input{
  width: 40px;
  align-items: center;
  display: flex;
}
.form-check{
  align-items: center;
  display: flex;
}

.card-expirado{
  background-color: rgb(230, 86, 86);
}
.card-realizado{
  background-color: greenyellow;
}
.td-lt{
  text-decoration: line-through;
}
.tc-w{
  color: white;
}
@media (max-width: 576px){
  #btn-buscar::after{
    content: '';
  }
  #btn-adicionar::after{
    content: '';
  }
}

/* Estilizando lista de tarefas a vencer */
.list-group-item{
  cursor: pointer;
  color: #262626;
}
.list-group-item:hover{ 
  background-color: #eee;
}

.fa-bell{
  cursor: pointer;
  font-size: 2em;
  color: #e2e2e2;
  padding-left: 4em;
  position: relative;
}
.fa-bell:hover{
  color: #fff;
}

.dropdown-item{
  cursor: pointer;
  z-index: 2;
}

.dropdown-item:hover{
  background-color: #eee;
}

.num-alerta{
  font-size: .4em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  position: relative;
  top: -3em;
  transform: translateX(18px);
}

.num-alerta-cor{
  color: #fff;
  background-color: #f55050c7;
}
.num-alerta-transparente{
  color: transparent;
  background-color: transparent;
}

.dropdown-menu::before{
  content: '';
  float: right;
  position: fixed;
  top: -.7em;
  right: .5em;
  background-color: #fff;
  width: 10px;
  padding: .7em;
  transform: rotate(45deg);
  z-index: 1;
}